{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000000;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: red;
    color: white;
    padding: 25px;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.menu-section {
    margin-bottom: 25px;
}

.menu-section h3 {
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.menu-section ul {
    list-style: none;
    padding-left: 0;
}

.menu-section ul li {
    margin: 10px 0;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ffffff88;
    transition: 0.3s ease;
    cursor: pointer;
}

.menu-section ul li:hover {
    background-color: #7a0c0c;
}

.sidebar label {
    cursor: pointer;
    display: block;
    width: 100%;
}

.content {
    flex: 1;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box,
.profile-info {
    width: 75%;
    max-width: 600px;
    background: white;

    border: 3px solid #821414;

    border-radius: 12px;
    padding: 25px;
    font-size: 18px;
    text-align: center;
    display: none;
    position: relative;

    box-shadow: 0 0 10px #00000055;
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    font-size: 28px;
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

#default:checked ~ .container .content .content-box {
    display: flex;
}

#profile1:checked ~ .container .content #profile1-info,
#profile2:checked ~ .container .content #profile2-info,
#profile3:checked ~ .container .content #profile3-info,
#profile4:checked ~ .container .content #profile4-info,
#profile5:checked ~ .container .content #profile5-info {
    display: block;
}

#profile1:checked ~ .container .content .content-box,
#profile2:checked ~ .container .content .content-box,
#profile3:checked ~ .container .content .content-box,
#profile4:checked ~ .container .content .content-box,
#profile5:checked ~ .container .content .content-box {
    display: none;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border: 3px solid #821414;
    border-radius: 12px;
    margin: 0 auto 20px auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #821414;
}

.profile-info p {
    margin-bottom: 12px;
    line-height: 1.5;
}
